<img src="{{ wb_url }}/media/mod_wbs_minishop/cart.png" style="width:50px;cursor:pointer;" onclick="$('#product_cart_list_wrapper').fadeToggle(); mod_minishop.cart_show_list();">
<span class="mod_minishop_count_in_cart" title="количество товаров в корзине"></span>