<h2>Экспорт YML (Yandex Market Language)</h2>

<p>Вы можете передать Яндексу либо ссылку на файл, либо непосредственно файл. Файл гненерируется автоматически при его загрузке.</p>

<p>Ссылка для загрузки файла *.yml: <a href="{{ wb_url }}/modules/wbs_minishop/api.php?action=export_yml&section_id=0&page_id=0">{{ wb_url }}/modules/wbs_minishop/api.php?action=export_yml&section_id=0&page_id=0</a></p>

<p>
    <a href="{{ wb_url }}/modules/wbs_minishop/api.php?action=export_yml&section_id=0&page_id=0"><input type="button" value="Загрузить файл"></a>
    <input type="button" value="Скопировать ссылку" onclick="copyToClipboard('{{ wb_url }}/modules/wbs_minishop/api.php?action=export_yml&section_id=0&page_id=0')">
</p> 
